* {
  color: white;
}

::selection {
  color: #370c50;
  background-color: #fbf976;
}

body {
  background-color: #370c50;
}

.logo {
  width: 320px;
}

.card {
  height: 100%;
  border: 1px solid #00ffc8;
  background: none;
}

.card-title {
  font-weight: bold;
  font-size: 22px;
  color: #fbf976;
}

.card-description {
  font-size: 18px;
  font-weight: 600;
}
